.navbar {
    position: sticky;
    top: 0px;
    display: flex;
    z-index: 999;
    padding: 15px;
    background: linear-gradient(#545454, black);
    width: 100vw;
  }
  
  .navLeft {
    float: left;
  }
  
  .navRight {
    float: right;
    width: 400px;
    position: absolute;
    right: 0;
    margin-top: 10px;
  }

  .signature {
    width: 200px;
    height: 50px;
    cursor: pointer;
  }