.bigIcon {
    font-size: 3rem;
    margin: 35px;
  }
  
  .laptopIcon {
    font-size: 70vw;
  }
  
  .phoneIcon {
    font-size: 100vw;
  }
  
  .bigIconPhone {
    font-size: 3rem;
    margin: 35px;
    display: block;
  }
  
  .phoneSlideshow {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  @keyframes text-scroll {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }
  
  @keyframes reverse-scroll {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes phone-scroll {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-100%);
    }
  }
  
  .slideshow {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  
  .textSlideshow {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  
  .slide {
    display: inline-block;
    animation: 30s reverse-scroll infinite linear;
  }
  
  .textSlide {
    display: flex;
    animation: 30s text-scroll infinite linear;
  }
  
  .phoneSlide {
    animation: 30s phone-scroll infinite linear;
  }
  
  .skillDiv {
    height: auto;
    text-align: center;
    position: relative;
  }
  
  .phoneSkillDiv {
    height: auto;
    text-align: center;
    position: relative;
    rotate: 10deg;
  }
  
  .skillDiv h3 {
    margin: 20px;
    font-size: 2rem;
  }
  
  .laptopScreen {
    background: rgba(20, 20, 20, 0.22);
    backdrop-filter: blur(3px);
    margin: 0 25vw;
    text-align: center;
    width: 43vw;
    position: absolute;
    top: 20%;
    left: 3.5%;
    height: 27.3vw;
    padding-top: 3%;
    overflow-y: scroll;
  }
  
  .laptopText {
    min-width: 250px;
    margin: 5% auto;
    padding: 5%;
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    text-align: left;
  }
  
  .phoneScreen {
    background: rgba(20, 20, 20, 0.22);
    backdrop-filter: blur(3px);
    margin: 0 25vw;
    text-align: center;
    width: 40vw;
    position: absolute;
    top: 18%;
    left: 5%;
    height: 64vw;
    overflow: hidden;
  }
  
  .listDiv {
    text-align: center;
    margin: 50px 0;
  }
  
  .skillsList {
    list-style-type: none;
    column-count: 3;
    margin: auto;
  }
  
  @media (max-width: 1125px) {
    .skillsList {
      column-count: 2;
      text-align: left;
      display: inline-block;
    }
  }
  
  .skillItem {
    margin: 0 10px 10px;
    font-size: 1.5rem;
  }