
  .work_experience {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 50px;
  }

  .job_container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(3px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
  }
  
  .company_logo {
    max-width: 200px;
    max-height: 200px;
  }
  
  .position_info {
    margin: 20px;
  }

  .position_title_container {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .position_description {
    list-style-type:square;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
  }
  
  
  @media only screen and (max-width: 600px) {
    .work_experience {
      flex-direction: column;
    }
  
    .company_logo {
      max-width: 70%;
      max-height: 70%;
    }
  
    .position_info {
      margin: 10px;
    }

    .position_title_container {
      flex-direction: column;
    }
  }