
  .work_experience {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
  }
  
  .company_logo {
    max-width: 100px;
    max-height: 100px;
  }
  
  .position_info {
    margin: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .work_experience {
      flex-direction: column;
    }
  
    .company_logo {
      max-width: 70%;
      max-height: 70%;
    }
  
    .position_info {
      margin: 10px;
    }
  }