.box {
    height: 250px;
    width: 250px;
    background-size: cover;
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-position: center;
}

.box h3 {
    font-size: 2.5rem;
    margin-top: 30px;
}

.boxGrid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    margin: 10% 3%;
  }