.box {
    height: 250px;
    width: 250px;
    background-size: cover;
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-position: center;
    margin-bottom: 30px;
    transform-style: preserve-3d;
    cursor: pointer;
}

.box h3 {
    font-size: 2.2rem;
    margin-top: 30px;
}

.boxGrid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.flipBoxFront, 
.flipBoxBack {
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-position: center;
}

.flipBoxBack {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}