.scene {
  width:100vw;
  height:100vh;
  position: relative;
}

.canvasContainer {
  background-attachment: fixed;
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.header {
  position: relative;
  color: aliceblue;
  text-shadow: 3px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
  font-size: 4.5rem;
  margin: 5%;
  text-align: center;
}

.subheader {
  position: relative;
  margin: 5% 10%;
  font-size: 3rem;
}

.disclaimer {
  text-align: center;
}

.mainButton {
  margin: 0 5%;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar {
  position: sticky;
  top: 0px;
  display: flex;
  z-index: 999;
  padding: 15px;
  background: linear-gradient(#545454, black);
  width: 100vw;
}

.navLeft {
  float: left;
}

.navRight {
  float: right;
  width: 400px;
  position:absolute;
  right: 0;
  margin-top: 10px;
}

.profilePic {
  height: 40vh;
  width: auto;
  box-shadow: 3px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
  margin: 5% auto;
  display: flex;
  position: relative;
}

.card {
  align-items: center;
  background: rgba(20, 20, 20, 0.66);
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  min-width: 300px;
  max-width: 500px;
  position: relative;
  border: 1px solid #fff;
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 10px;
}

.cardContent {
  margin: 5px 0;
}

.cardLink:hover {
  color: #007bff;
}

.cardGrid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin: 3%;
}

.signature {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.footer {
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footerContent {
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 3px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
}

.footerLinks {
  margin: 10px;
}

.footerLinks a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

.footerLinks a:hover {
  color: #007bff; /* Change the color on hover to your preferred color */
}

.icon {
  margin-right: 5px;
  font-size: 1.2rem;
  box-shadow: 3px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
  ;
}