.scene {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.canvasContainer {
  background-attachment: fixed;
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.content {
  position: relative;
}

.titleContainer {
  height: 70vh;
}

.header {
  position: relative;
  color: aliceblue;
  text-shadow: 3px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
  font-size: 4.5rem;
  margin: 5%;
  text-align: center;
}

.subheader {
  position: relative;
  margin: 5% 10%;
  font-size: 3rem;
}

.disclaimer {
  text-align: center;
}

.mainButton {
  margin: 0 5%;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar {
  position: sticky;
  top: 0px;
  display: flex;
  z-index: 999;
  padding: 15px;
  background: linear-gradient(#545454, black);
  width: 100vw;
}

.navLeft {
  float: left;
}

.navRight {
  float: right;
  width: 400px;
  position: absolute;
  right: 0;
  margin-top: 10px;
}

.gridPattern {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profilePic {
  height: 40vh;
  width: auto;
  box-shadow: 3px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
  margin: 5% auto;
  display: flex;
  position: relative;
  rotate: -5deg;
}

.textContainer {
  min-width: 250px;
  max-width: 30%;
  margin: 5% auto;
  display: flex;
  flex: 1;
  font-size: 1.5rem;
}

.workContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

@keyframes text-scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes reverse-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes phone-scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.slideshow {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.textSlideshow {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.slide {
  display: inline-block;
  animation: 30s reverse-scroll infinite linear;
}

.textSlide {
  display: flex;
  animation: 30s text-scroll infinite linear;
}

.phoneSlide {
  animation: 30s phone-scroll infinite linear;
}

.skillDiv {
  height: auto;
  text-align: center;
  position: relative;
}

.phoneSkillDiv {
  height: auto;
  text-align: center;
  position: relative;
  rotate: 10deg;
}

.skillDiv h3 {
  margin: 20px;
  font-size: 2rem;
}

.laptopScreen {
  background: rgba(20, 20, 20, 0.22);
  backdrop-filter: blur(3px);
  margin: 0 25vw;
  text-align: center;
  width: 44vw;
  position: absolute;
  top: 20%;
  left: 3.5%;
  height: 27.5vw;
  padding-top: 3%;
  overflow-y: scroll;
}

.laptopText {
  min-width: 250px;
  margin: 5% auto;
  padding: 5%;
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  text-align: left;
}

.phoneScreen {
  background: rgba(20, 20, 20, 0.22);
  backdrop-filter: blur(3px);
  margin: 0 25vw;
  text-align: center;
  width: 40vw;
  position: absolute;
  top: 18%;
  left: 5%;
  height: 64vw;
  overflow: hidden;
}

.card {
  align-items: center;
  background: rgba(20, 20, 20, 0.22);
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  min-width: 300px;
  max-width: 500px;
  position: relative;
  border: 1px solid #fff;
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 10px;
  max-width: 250px;
  margin-bottom: 30px;
}

.cardContent {
  margin: 5px 0;
}

.cardLink:hover {
  color: #007bff;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

.signature {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.footer {
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footerContent {
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 3px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
}

.footerLinks {
  margin: 10px;
}

.footerLinks a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

.footerLinks a:hover {
  color: #007bff;
  /* Change the color on hover to your preferred color */
}

.icon {
  margin-right: 5px;
  font-size: 1.2rem;
  box-shadow: 3px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
}

.bigIcon {
  font-size: 3rem;
  margin: 35px;
}

.laptopIcon {
  font-size: 70vw;
}

.phoneIcon {
  font-size: 100vw;
}

.bigIconPhone {
  font-size: 3rem;
  margin: 35px;
  display: block;
}

.phoneSlideshow {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}